sudo: required
dist: trusty
language: node_js
node_js:
  - '5'
  - '6'
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
    code_climate:
      repo_token: 5630876f46c9ea33079e0569ac74e4cb1a05703d0ac36614f7edb14561f36df2
services:
  - mongodb
after_success:
  - npm run coverage
notifications:
  email: false
  slack:
    rooms:
      - csci-450-odd:bRieDpCz5eHZvruypGO182AX#build-travisci
