<nav class="navbar navbar-default">
    {{> body/navbar/header}}
    <div class="collapse navbar-collapse" id="navbar">
        {{> body/navbar/left}}
        {{> body/navbar/right}}
    </div>
</nav>