<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> head/title}}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
{{> body/header}}
<div class="container-fluid" id="content" tabindex="-1">
    {{{body}}}
</div>
{{> body/footer}}
<script>
    $(function () {
        var nua = navigator.userAgent;
        var isAndroid = (nua.indexOf('Mozilla/5.0') > -1
        && nua.indexOf('Android ') > -1
        && nua.indexOf('AppleWebKit') > -1
        && nua.indexOf('Chrome') === -1);
        if (isAndroid) {
            $('select.form-control').removeClass('form-control').css('width', '100%')
        }
    })
</script>
</body>
</html>